/*

-CSS = cascading stylesheet

-Anatomia de um seletr:

    Seletor (qual é a area que vou editar) {

    o que estiver dentro das chaves é a propriedade do seletor: valor da propriedade; (sempre ponto virgula no final)
}

*/

div {
    color: rgb(0, 0, 0); /*altera a cor da fonte*/
    font-family: ; /*altera o tipo da fonte*/
    font-size: 15px; /*altera o tamanho da fonte*/
    display: 0;


}

.destaques {
    background-color: rgb(255, 255, 255);
    color: black;

}



.cabecalho{
    background-color: rgb(241, 241, 241);
    display: flex;
    
}
.cabecalho > .container{
    display: flex;
   
}
.cabecalho_logo{}
.cabecalho_logo > figure{}
.cabecalho_logo > figure > img{}
.cabecalho_logo > figure > img > figcaption{}

